<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encuestaapnea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_index_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EncuestaApnea">
        <activity
            android:name=".PrimerSondeoOctavaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoNovenabPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoDecimaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoNovenaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoOctavaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoSeptimaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoSextaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoQuintaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoCuartaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoTerceraPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoSegundaPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoSeptimaPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoSextaPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoQuintaPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoCuartaPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoTerceraPregunta"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoSegundaPregunta"
            android:exported="false" />
        <activity
            android:name=".SegundoSondeoPreguntas"
            android:exported="false" />
        <activity
            android:name=".PrimerSondeoPreguntas"
            android:exported="false" />
        <activity
            android:name=".SondeoPreguntas"
            android:exported="false" />
        <activity
            android:name=".RegistroInicial"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>